body {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
}
.state-container{
  margin: 0 39%;
  padding: 50px;

}
.state-div.active{
  background:red;
}
.state-div{
  /*float:right;*/
  width:200px;
  margin:  2pc;
  font-size: 18px;
  color: #fff;
  padding: 10px;
  background:#f34;
  border:1px solid #333 
}